{% extends "gallery.html" %}
{% block body %}

<body>
<center>
<form id="form1" name="form1" method="post" action="">
  <table width="713" height="529" border="1">
    <tr>
      <td><div align="center"><u></u></div></td>
    </tr>
    <tr>
      <td><a href="/teacher">Register Faculty</a></td>
    </tr>
    <tr>
      <td><a href="/manageteacher">Manage Faculty</a></td>
    </tr>
    <tr>
      <td><a href="/subject_registration">Subject Registration</a></td>
    </tr>
    <tr>
      <td><a href="/subject_view">View Subjects</a></td>
    </tr>
    <tr>
      <td><a href="/subject_assign">Assign Subjects</a></td>
    </tr>
    <tr>
      <td><a href="/assignedsubject">Assigned Subjects</a></td>
    </tr>
    <!--<tr>-->
      <!--<td><a href="/uploadsyllabus">Upload Syllabus</a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="/vieweditsyllabus">View & Edit Syllabus</a></td>-->
    <!--</tr>-->
    <tr>
      <td><a href="/regstudent">Register Students</a></td>
    </tr>
    <tr>
      <td><a href="/managestudent">Manage Students</a></td>
    </tr>
    <tr>
      <td><a href="/attendance">View Attendance</a></td>
    </tr>
    <tr>
      <td><a href="/">Logout</a></td>
    </tr>
  </table>
</form>
</center>
</body>
{% endblock %}
