{% extends "gallery.html" %}
{% block body %}
<center>
<form id="form1" name="form1" method="post" action="tregister_update">
  <table width="721" height="604" border="1">
    <tr>
      <td colspan="2"><div align="center">Edit Faculty Details</div></td>
    </tr>
    <tr>
      <td>First Name</td>
      <td><label for="textfield"></label>
      <input type="text" name="fname" id="fname" value="{{value[1]}}" required  pattern="[A-Z a-z.]{1,25}" /></td>
    </tr>
    <tr>
      <td>Last Name</td>
      <td><label for="textfield2"></label>
      <input type="text" name="lname" id="lname" value="{{value[2]}}" required pattern="[A-Z a-z.]{1,25}"/></td>
    </tr>
    <tr>
      <td>Age</td>
      <td><label for="textfield3"></label>
      <input type="text" name="age" id="age" value="{{value[3]}}" required pattern="[0-9]{0,3}"/></td>
    </tr>
    <tr>
      <td>Gender</td>
      <td><input type="radio" name="radio" id="gender" value="Female" {% if value[4]=="Female" %} checked {% endif %} />
        <label for="radio"> Female
        <br />
        <input type="radio" name="radio" id="gender2" value="Male" {% if value[4]=="Male" %} checked {% endif %}/>
 Male</label></td>
    </tr>
    <tr>
      <td>Phone Number</td>
      <td><p>
        <label for="textfield4"></label>
        <input type="text" name="textfield4" id="phoneno" value="{{value[5]}}" required pattern="[6789][0-9]{9}"/>
      </p>
        <p>&nbsp; </p></td>
    </tr>
    <tr>
      <td colspan="2"><div align="center">
        <input type="submit" name="button" id="regbutton" value="Update" />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input type="submit" name="button2" id="button" value="Go Back"/></div>
          </td>
    </tr>
  </table>
</form>
</center>
{% endblock %}
