{% extends "gallery.html" %}
{% block body %}
<center>
<form id="form1" name="form1" method="post" action="">
  <table width="837" height="377" border="1">
  <tr>
    <th width="962" height="287" scope="col"><p>Mangage Students</p>
      <table width="631" height="111" border="1">
      <tr>
        <th width="146" height="50" scope="col">Register Number</th>
        <th width="160" scope="col">Name</th>
        <th width="60" scope="col">Rollnumber</th>
        <th width="92" scope="col">Gender</th>
        <th width="105" scope="col">Semester</th>
        <th width="67" scope="col">Phone number</th>
        <th width="67" scope="col">&nbsp;</th>
      </tr>
        {% for i in value %}
      <tr>
        <td height="53">{{i[1]}}</td>
        <td>&nbsp;{{i[2]}} {{i[3]}}</td>
        <td>&nbsp;{{i[4]}}</td>
        <td>&nbsp;{{i[5]}}</td>
        <td>&nbsp;{{i[6]}}</td>
        <td>&nbsp;{{i[7]}}</td>
        <td><a href="sdelete?id={{i[0]}}">Delete</a>&nbsp;<a href="s_edit?id={{i[0]}}">Edit</a></td>
      </tr>
        {% endfor %}
      </table></th>
  </tr>
  </table>
</form>
</center>
{% endblock %}
